@import "@styles/variables";

.cart-product {
  display: flex;
  gap: 1rem;
  height: 3.3rem;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 4px 4px 12px rgb(0, 0, 0, 0.12);
  position: relative;
}

.cart-product__image {
  height: 100%;
  width: 3.3rem;
  background-size: cover;
  mix-blend-mode: multiply;
}

.cart-product__actions {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;

  & svg {
    transition: fill 0.3s ease-out;
  }
  & svg:hover {
    fill: $main-color;
  }
}
