.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1px);
  background: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
