@import "@styles/variables";

.container--auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: $bg-color;
  box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.2);

  &__form {
    padding: 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__heading {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: 4px 4px 6px rgb(0, 0, 0, 0.1);
  }

  &__input {
    outline: none;
    border-radius: 4px;
    padding: 0.6rem 0.8rem;
    background-color: transparent;
    border: 1px solid $main-color;
    box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.2);
    transition: border .3s ease-in;

    &.error {
      border: 1px solid $error-color;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    text-align: center;
    color: $error-color;
    font-size: 0.93rem;
    opacity: 0;
    transition: opacity .3s ease-in;

    &.active {
      opacity: 1;
    }
  }
}

input::placeholder {
  color: rgba(56, 56, 56, 0.6);
}

.message {
  color: $main-text;
  text-align: center;
  line-height: 1.2rem;
}

.inline-link {
  cursor: pointer;
  color: $main-color;
  text-decoration: underline;
}
